@keyframes change-background-color {
  0% {
    background-color: #ffb4ad;
  } /* Rosa claro */
  10% {
    background-color: #f0d56b;
  } /* Amarelo pastel */
  20% {
    background-color: #b2f5f5;
  } /* Cinza claro */
  30% {
    background-color: #a0cfee;
  } /* Azul claro */
  40% {
    background-color: #ffada5;
  } /* Vermelho pastel */
  50% {
    background-color: #95f5bd;
  } /* Verde menta */
  60% {
    background-color: #ffba7e;
  } /* Laranja pastel */
  70% {
    background-color: #de92ff;
  } /* Lilás claro */
  80% {
    background-color: #a1ffc7;
  } /* Verde claro */
  90% {
    background-color: #d778ff;
  } /* Roxo pastel */
  100% {
    background-color: #ff9e96;
  } /* Rosa claro */
}

.main {
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  color: black;
  background-color: #fadbd8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  animation: change-background-color 20s infinite;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px; /* Aumentado de 300px para 350px */
  height: auto; /* Ajustado para auto para crescer com o conteúdo */
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgb(80, 80, 80);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 30px rgb(80, 80, 80);
}

.propriedades {
  margin: 5px 0;
  text-align: center;
}

.ultimaProp {
  margin: 5px 0 10px;
  text-align: center;
}

.titulo {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

/* Carregamento */
.loader {
  width: 40px;
  height: 40px;
  background-color: #ffffff;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* Fim do carregamento */
